

header{
    background-color: rgba(0, 0, 255, 0.386);
    text-align: center;
}

main{
    background-color: rgba(169, 169, 169, 0.558);
    height: 120vh;
   
    
}




 .rating label {
  margin-right: 70px;
}



.product {
    display: flex;
    flex-direction: column;
    width: 1150px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    height: 60px;
}

.product label {
    font-weight: bold; /* Makes the label text stand out */
    margin-bottom: 5px; /* Adds spacing between label and select */
}

.product select {
    width: 1150px;
    margin-left: 5px;
    margin-right: 10px;
    margin-top: 10px;
    height: 20px;
    


}

.stars {
    display: flex;
    flex-direction: column;
    width: 1150px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    height: 60px;
}


.stars label {
    font-weight: bold ;
    margin-bottom: 5px;
}

.rating {
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    
}

.rating input[type="radio"]{
    cursor: pointer;
}



.date {
    display: flex;
    flex-direction: column;
    width: 1150px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    height: 60px;

}
.time input[type="date"]{
    width: 1150px;
    margin-left: 5px;
    margin-right: 5px;
    height: 20px;
}
.date label {
    font-weight: bold;
    margin-bottom: 5px;
}

.features{
    display: flex;
    flex-direction: column;
    width: 1150px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    height: 60px;
    margin-bottom: 110px;

}

.features label {
    font-weight: bold;
}

.customize{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.customize label {
    margin-top: 5px;

}
 
 input[type="checkbox"]{
    transform: scale(2);
    margin-right: 9px;
    
}

.written-review {
    display: flex;
    flex-direction: column;
    width: 1150px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
    
}

.written-review label {
    font-weight: bold;
}
.username {
    display:flex;
    flex-direction: column;
    width: 1150px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    height: 60px;
}

.identity input[type="text"]{
    width: 1150px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    height: 20px;
}

.username label {
    font-weight: bold;
}
.submission input[type="submit"] {
    width:100%;
    max-width: 1150px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    cursor: pointer;
    color: white;
    background-color: darkgreen;
    font-weight: bold;
}



.submission input[type="submit"]:hover {
    background-color: darkgreen;
    color: aliceblue;
}
footer{

    background-color:  rgba(0, 0, 255, 0.386);
    text-align: center;
    height: 20vh;
}