:root {
    --bg-color: red;
    --my-color: darkgreen; /* Ensured no changes to h2 background color */
    --second-color: aliceblue;
    --header-height: 20vh;
    --padding: 15px;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--second-color);
    background-color: var(--bg-color);
    height: var(--header-height);
}

.hero {
    position: relative;
    padding: var(--padding);
}

.hero picture img {
    width: 100%;
    height: auto;
}

.data, .weather {
    position: absolute;
    background-color: var(--second-color);
    border-radius: 10px;
    padding: var(--padding);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.data {
    left: var(--padding);
    top: var(--padding);
    width: 300px;
}

.data h2 {
    background-color: var(--my-color); /* Preserving dark green */
    color: var(--second-color);
    text-align: center;
    border-radius: 5px;
    margin: 0 0 10px 0;
    padding: 10px;
}

.weather {
    right: var(--padding);
    bottom: var(--padding);
    width: 250px;
}

.weather h2 {
    background-color: var(--my-color);
    color: var(--second-color);
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    margin: 0;
}

.weather p {
    text-align: center;
}

.weather .icon img {
    display: none; /* By default, hide the weather icon */
}

.icon svg{
    display: none;
}

/* Mobile view: SVG weather icon displayed only */
@media (max-width: 600px) {
    .weather .icon img {
        display: none; /* Display SVG icon */
        margin: 0 auto;
        width: 50px;
        height: 50px;
    }

    .weather h2::after {
        content: none; /* Remove emoticon beside 'Weather' */
    }
    
}

/* Wider views: Emoticon beside 'Weather' is displayed */
@media (min-width: 601px) {
    .weather h2::after {
        content: ' ⛅'; /* Add one emoticon beside 'Weather' */
    }

    .weather .icon img {
        display: none; /* Hide the SVG icon */
    }
}

footer {
    text-align: center;
    background-color: var(--bg-color);
    color: black;
    padding: var(--padding);
}

