@media (max-width:600px) {

    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    picture {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    .data {
        text-align: center;
        margin-bottom: 20px;
        padding: 10px;
    }

    .weather {
        text-align: center;
        margin-bottom: 20px;
        padding: 10px;
    }

    .weather h2::after {
        content: none;
    }

    .weather .icon {
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .weather .icon img {
        width: 50px;
        height: auto;
    }
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    

}
@media (max-width: 600px) {
    .weather h2 .wide-view-emoticon {
        display: none; /* Hide the emoticon on mobile views */
    }

    .weather .icon {
        display: block; /* Show the icon only on mobile views */
        margin-bottom: 10px;
        margin-top: 10px;
    }
}