/* Media query for mobile views */
@media screen and (max-width: 748px) {
    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero picture,
    .data,
    .weather,
    footer {
        width: 100%;
        margin: 10px 0;
    }

    .weather h2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .weather h2::after {
        content: none; /* Remove emoticon */
    }

    .icon {
        display: block; /* Ensure the icon is visible */
        margin-top: 10px;
    }
}
