:root {
    --bg-color: red;
    --my-color: darkgreen;
    --second-color: aliceblue;
}


body {
    font-family: 'Montserrat', sans-serif;}


    header {
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--second-color);
        background-color: var(--bg-color);
        padding: 0;
        margin: 0;
        height: 20vh;

    }


    .hero {
        position: relative;
    }


    .hero picture img {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;

    }

    .data {
        position: absolute;
        top: 20px;
        background-color: var(--second-color);
        left: 20px;
        width: 300px;

    }

    .data h2 {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--my-color);
        color: var(--second-color);
        height: 15vh;
    


    }

    .weather {
        position: absolute;
        right: 20px;
        bottom: 60px;
        background-color: var(--second-color);
        width: 200px;
        border-radius: 15px;
    }

    .weather p {
        text-align: center;
    }

    .weather h2 {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--second-color);
        background-color: var(--my-color);
        height: 15vh;

    }



    footer {
        font-size: large;
        color: black;
        background-color: var(--bg-color);
        padding: 0;
        margin: 0;
        height: 20vh;
        text-align: center;


    }

    .move {

        right: 20px;
        text-align: center;
    }


    



    .icon {
        display: none;
    }

    #lastModified {
        display: inline;
        text-align: center;
        width: 100%;
        margin: 0 auto;
    }